@charset "UTF-8";

@import "form.css";

body {
	height: 100vh;
	background: rgb(85, 111, 131);
	background: linear-gradient(123deg, rgba(85, 111, 131, 1) 0%,
		rgba(168, 184, 209, 1) 55%, rgba(220, 244, 249, 1) 100%);
	display: flex;
	color: #3A3B3C;
}

a {
	text-decoration: none;
}

a:hover {
	color: #2d5594;
	transition: all 0.3s;
}

.content-container {
	width: 70vw;
	margin: auto;
}

.container {
	width: 70vw;
	min-height: 45vh;
	margin: auto;
	background-color: #dadfe3;
	border-radius: 0.7rem;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
}

.swipe-in-form {
	width: 45%;
	margin-bottom: 1rem;
}

.swipe-in {
	width: 45%;
}

.log-out {
	position: absolute;
	width: 6rem;
}	

.swipe-in-position {
	top: 44.8rem;
	right: 32.6rem;
}

.swipeout-position {
	top: 26.5rem;
	right: 1.2rem;
}