<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Log in</h1>
<form action="#" th:action="@{./loginCheck}" th:object="${loginDetails}" method=post>
	Enter Email : <input type="email" th:field="*{email}"  name="email"><br><br>
	Enter Password : <input type="password" th:field="*{password}"  name="password"><br><br>
	<input type="submit" value="Login">

<h2 style="color: red" th:text=${message}></h2>
</form>
</body>
</html>