<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<title>Your Bill</title>
</head>
<body>

	<div class="container">
		<h1>Bill</h1>
		<h3
			th:text="'Your new balance is: &#163;' + ${#numbers.formatDecimal({user.balance},1,2)}"></h3>
		<h3 style="color: red" th:if="${bill.fine > 0}"
			th:text="'You have been fined because you have spent longer than two hours on the metro.'">Y</h3>
		<table border="1">
			<tr>
				<th>Start Station</th>
				<th>Start Time</th>
				<th>End Station</th>
				<th>End Time</th>
				<th>Fare</th>
				<th>Fine</th>
				<th>Total</th>
			</tr>
			<tr>
				<td th:text="${bill.startStationName}"></td>
				<td th:text="${bill.startTime}"></td>
				<td th:text="${bill.endStationName}"></td>
				<td th:text="${bill.endTime}"></td>
				<td th:text="'&#163;' + ${#numbers.formatDecimal({bill.price},1,2)}"></td>
				<td th:text="'&#163;' + ${#numbers.formatDecimal({bill.fine},1,2)}"></td>
				<td
					th:text="'&#163;' + ${#numbers.formatDecimal({bill.totalPrice},1,2)}"></td>
			</tr>
		</table>
		<br> <a href="./swipeInForm">Make another journey</a>
	</div>
	<form action="#" th:action="@{./}" method="post">
		<button type="submit" class="form-btn">Log out</button>
	</form>

</body>
</html>