<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="content-container">
		<div class="form-container">
			<h1 class="title pb-3">Sign up</h1>
			<form action="#" th:action="@{./saveUser}" method="post"
				th:object="${user}">
				<div class="form-group">
					<input type="number" name="id" class="form-control"
						placeholder="id" th:field="*{id}">
				</div>
				<div class="form-group">
					<input type="text" name="firstName" class="form-control"
						th:field="*{firstName}" placeholder="First name">
				</div>
				<div class="form-group">
					<input type="text" name="lastName" class="form-control"
						th:field="*{lastName}" placeholder="Last name">
				</div>
				<div class="form-group">
					<input type="text" name="email" class="form-control"
						th:field="*{email}" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password"
						th:field="*{password}" name="password" class="form-control"
						id="passwordInput">
				</div>
				<button type="submit" class="form-btn">Sign up</button>
			</form>
		</div>
	</div>
	<br>
	<br>
	<a href="/">To Go Main Page</a>
</body>
</html>