<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>

<meta charset="ISO-8859-1">

<title>Insert title here</title>
</head>
<body>

	<h1>Swipe in</h1>
	
	
	<h2 th:text="'Hello ' + ${session.user.firstName} + ', please select a station to swipe in.'"></h2>
	
	<h2 th:text="'Your current balance is &#163;' + ${session.user.balance} + '.'"></h2>
	 
	 
	<form th:action="@{./swipeOutForm}" method="post" th:object="${station}"> 
	  <label for="dropdown">Choose a Station:</label>
	  <select name="dropdown" id="stations" th:field="*{sequenceNumber}">
	    <option th:each="station : ${stations}" th:text="${station.stationName}" th:value="${station.sequenceNumber}"></option>
	  </select>
	  <br><br>
	  <input type="submit" value="Swipe in">
	</form>
</body>
</html>