<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- Need to add greeting to user -->
	<h1>Swipe in</h1>
	
	<form action=#> <!-- Still need to add action... maybe to save that the user has successfully swiped in -->
	  <label for="stations">Choose a Station:</label>
	  <select name="stations" id="stations">
	    <option th:each="station : ${stations}" th:text="${station.stationName}"></option>
	  </select>
	  <br><br>
	  <input type="submit" value="Swipe in">
	</form>
</body>
</html>